@import url("./nav/nav.css");
@import url("./carousel/carousel.css");


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;   
    scroll-behavior: smooth; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    color: white;
}

section canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1D2951;
}

section h1 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 3rem;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}


/* HOME SECTION STYLING */

.home-section {
    position: relative;
    height: 100vh;
    padding: 1rem;    
    display: grid;
    align-content: center;
    justify-content: start;
}

.home-text a:link {
    text-decoration: none;
}

.arrow-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.arrow-down img {
    width: 100%;
    height: 100%;
    filter: invert(90%);
}

.arrow-down img:hover {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}


/* ABOUT SECTION STYLING */

.about-section {
    position: relative;
    min-height: 100vh;
    background-color: #13204a;
    display: grid;
    align-content: center;
    justify-content: start;
    padding: 1rem;
}

.about-section h1 {
    font-size: 2rem;
}

.job-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.about-section p {
    font-size: 1rem;
    height: auto;
}

.about-page-text p {
    width: 60ch;
}

.about-arrow-down {
    visibility: hidden;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* PROJECT SECTION STYLING */

.project-section {
    display: grid;
    place-content: center;
    justify-content: stretch;
    grid-template-rows: auto 1fr;
    min-height: 80vh;
    padding: 1rem;
    background-color: #131a31;
}

.project-page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section > h1 {
    font-size: 2rem;
}

.project-section > p {
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
}

.linkedin {
    width: 64px;
    height: 64px;
}

.gmail {
    width: 64px;
    height: 64px;
}

.contact-section {
    min-height: 20vh;
    background-color: #13204a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-page-text h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}

.contact-page-text p {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 1rem;
}

.contact-section a:link {
    text-decoration: none;
}

@media screen and (min-width: 960px) {
    .home-section,
    .about-section,
    .project-section {
        padding-left: 4rem;
    }

    .home-text h1 {
        font-size: 4rem;
    }

    .home-text h2 {
        font-size: 3rem;
    }

    .about-section h1 {
        font-size: 3rem;
    }

    .about-section > p {
        font-size: 1.4rem;
    }

    .about-arrow-down {
        visibility: visible;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    
    .about-arrow-down img {
        width: 100%;
        height: 100%;
        filter: invert(90%);
    }
    
    .about-arrow-down img:hover {
        animation: bounce 2s infinite;
    }

    .project-section .carousel {
        max-width: 80%;
        margin: 0 auto;        
    }

    .project-page-text h1 {
        font-size: 3rem;
    }

    .project-page-text p {
        font-size: 1.4rem;
    }

    section > p {
        max-width: 60ch;
    }

    .project-section .carousel {
        max-width: 80%;
        margin: 0 auto;
    }
}
